@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
}

body {
  margin: 0;
  display: block;
  overflow-x: hidden;
}

.section {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .section {
    margin-top: 3rem;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #a8a29e 0%, #a5f3fc 99%);
}

body::-webkit-scrollbar-thumb {
  background-color: #44403c;
  border-radius: 10px;
}
