@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
}

body {
  margin: 0;
  display: block;
  overflow-x: hidden;
}

.section {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .section {
    margin-top: 3rem;
  }
}
