#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #292524;
  animation: anim2 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}

#wrapperload {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

#wrapperload .elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#wrapperload .elem img {
  width: 40%;
}

/* #wrapperload .elem:nth-child(1) {
  animation: anim 3s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
} */

/* #wrapperload .elem:nth-child(2) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
} */

@keyframes anim {
  to {
    margin-top: -200px;
  }
}

@keyframes anim2 {
  to {
    transform: translateY(-100%);
  }
}
